.inline{
  display: inline-block;
  margin-right: 10px;
  margin-top: auto;
  float: right;
}
.exceptions{
  width: 202px;
  height: 12px;
  display: flex;
  border-radius: 5px;
  border: darkgrey solid 2px;
  overflow: hidden;
}
.elem-exception{
  height: 100%;
}
.food{
  background-color: #0bc7b1;
}
.utility{
  background-color: #f1f0e2;
}
.dress{
  background-color: #d9bb74;
}
.pet{
  background-color: #82a752;
}
.transport{
  background-color: #054549;
}
.alert-my{
  width: auto;
  margin-right: 10px;
  float: right;
}
